In [8]:
from pathlib import Path

In [17]:
path = Path('day-1')
!mkdir -p {path}

In [18]:
open(path/"sample.txt", 'w').write("""
1000
2000
3000

4000

5000
6000

7000
8000
9000

10000
""")

56

In [19]:
!wget https://adventofcode.com/2022/day/1/input -o {path/"input.txt"}

In [43]:
f = open(path/'input.txt')

In [44]:
full = f.read()
full[:10]

'--2022-12-'

In [31]:
import pandas as pd

In [32]:
data = []
for i, elf in enumerate(full.split('\n\n')):
    bag = elf.split()
    print(i, bag)
    for calories in bag:
        data.append((i, int(calories)))
data[:5]

0 ['1000', '2000', '3000']
1 ['4000']
2 ['5000', '6000']
3 ['7000', '8000', '9000']
4 ['10000']

[(0, 1000), (0, 2000), (0, 3000), (1, 4000), (2, 5000)]

In [36]:
df = pd.DataFrame(data, columns=['elf', 'item'])
df.head()

   elf  item
0    0  1000
1    0  2000
2    0  3000
3    1  4000
4    2  5000

In [42]:
df.groupby(df.elf).item.sum().sort_values(ascending=False).iloc[0]

24000