In [8]:
from pathlib import Path

In [17]:
path = Path('day-1')
!mkdir -p {path}

In [65]:
open(path/"sample.txt", 'w').write("""
1000
2000
3000

4000

5000
6000

7000
8000
9000

10000
""")

56

In [67]:
f = open(path/'input.txt')

In [68]:
full = f.read()
full[:10]

'3344\n8938\n'

In [69]:
import pandas as pd

In [71]:
data = []
for i, elf in enumerate(full.split('\n\n')):
    bag = elf.split()
    #print(i, bag)
    for calories in bag:
        data.append((i, int(calories)))
data[:5]

[(0, 3344), (0, 8938), (0, 7923), (0, 3979), (0, 2753)]

In [72]:
df = pd.DataFrame(data, columns=['elf', 'item'])
df.head()

   elf  item
0    0  3344
1    0  8938
2    0  7923
3    0  3979
4    0  2753

In [74]:
df.groupby(df.elf).item.sum().sort_values(ascending=False)

elf
177    69310
142    68501
112    68293
100    65480
209    64548
       ...
149    10679
217     8736
243     5379
51      1880
59      1466
Name: item, Length: 249, dtype: int64

In [75]:
df.groupby(df.elf).item.sum().nlargest(3).sum()

206104