In [1]:
from pathlib import Path

In [2]:
path = Path('day-2')
!mkdir -p {path}

In [13]:
open(path/"sample.txt", 'w').write("""A Y
B X
C Z""")

11

In [129]:
f = open(path/'input.txt')

In [130]:
full = f.read()
full[:10]

'A Z\nC Z\nA '

In [131]:
full.split('\n')[:5]

['A Z', 'C Z', 'A X', 'B Z', 'C X']

In [132]:
import pandas as pd

In [133]:
data = []
for i, strategy in enumerate(full.split('\n')):
    opponent, you = tuple(strategy.split())
    data.append((i, opponent, you))
data[:5]

[(0, 'A', 'Z'), (1, 'C', 'Z'), (2, 'A', 'X'), (3, 'B', 'Z'), (4, 'C', 'X')]

In [134]:
df = pd.DataFrame(data, columns=['round', 'opponent', 'you'])
df.head()

   round opponent you
0      0        A   Z
1      1        C   Z
2      2        A   X
3      3        B   Z
4      4        C   X

In [135]:
ndf = df.replace(['A','X'], 1).replace(['B', 'Y'], 2).replace(['C', 'Z'], 3)
ndf

      round  opponent  you
0         0         1    3
1         1         3    3
2         2         1    1
3         3         2    3
4         4         3    1
...     ...       ...  ...
2495   2495         1    1
2496   2496         2    3
2497   2497         3    3
2498   2498         3    1
2499   2499         1    2

[2500 rows x 3 columns]

In [136]:
def beats(play):
    ret = play + 1
    if ret >= 4: ret -= 3
    return ret

def score(row):
    #print(row)
    # draw
    if row.opponent == row.you:
        return 3 + row.you
    # win 
    if row.you == beats(row.opponent):
        return 6 + row.you
    # lose
    if row.opponent == beats(row.you):
        return 0 + row.you

In [137]:
ndf['score'] = ndf.apply(score, axis=1)

In [138]:
ndf

      round  opponent  you  score
0         0         1    3      3
1         1         3    3      6
2         2         1    1      4
3         3         2    3      9
4         4         3    1      7
...     ...       ...  ...    ...
2495   2495         1    1      4
2496   2496         2    3      9
2497   2497         3    3      6
2498   2498         3    1      7
2499   2499         1    2      8

[2500 rows x 4 columns]

In [139]:
ndf.score.sum()

13924

In [140]:
tdf = df.rename(columns={'you': 'result'})
tdf

      round opponent result
0         0        A      Z
1         1        C      Z
2         2        A      X
3         3        B      Z
4         4        C      X
...     ...      ...    ...
2495   2495        A      X
2496   2496        B      Z
2497   2497        C      Z
2498   2498        C      X
2499   2499        A      Y

[2500 rows x 3 columns]

In [141]:
tdf = tdf.replace(['A'], 1).replace(['B'], 2).replace(['C'], 3).replace(['X'], 0).replace(['Y'], 3).replace(['Z'], 6)

In [142]:
def beaten(play):
    ret = play - 1
    if ret == 0: ret += 3
    return ret

In [143]:
def score2(row):
    #print(row)
    # lose
    if row.result == 0:
        return beaten(row.opponent)
    # win 
    if row.result == 6:
        return 6 + beats(row.opponent)
    # draw
    if row.result == 3:
        return 3 + row.opponent

In [144]:
tdf['score2'] = tdf.apply(score2, axis=1)
tdf

      round  opponent  result  score2
0         0         1       6       8
1         1         3       6       7
2         2         1       0       3
3         3         2       6       9
4         4         3       0       2
...     ...       ...     ...     ...
2495   2495         1       0       3
2496   2496         2       6       9
2497   2497         3       6       7
2498   2498         3       0       2
2499   2499         1       3       4

[2500 rows x 4 columns]

In [145]:
tdf.score2.sum()

13448